{{> admin/include/header}}
        <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
		<style>
			.custom-control-label::before{
				top: 0;
				left: -1.2rem;
			}
			.custom-control-label::after {
				top: 0;
				left: -1.2rem;
			}
		</style>
        <div class="content">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="w-100 card card-nav-tabs text-center" style="width: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title"> Goods Display </h5>
                            <h6 class="card-subtitle mb-2 text-muted"> 상품 진열 순서를 수정할 수 있습니다. </h6>
                            <p class="card-text"> </p>
                            <a href="display?type=main" class="card-link"> 메인페이지 관리 </a>
                            <a href="display?type=category" class="card-link"> 카테고리별 관리 </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="w-100 card card-nav-tabs text-center" style="width: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title"> Goods Size </h5>
                            <h6 class="card-subtitle mb-2 text-muted"> 상품 사이즈 그룹을 관리할 수 있습니다. </h6>
                            <p class="card-text"> </p>
                            <a href="size" class="card-link">사이즈 관리</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title text-center"><a href="list"> Goods List </a></h4>
							<h6><button class="btn btn-warning float-left" onclick="centeredHalfPop('/img-upload?workType=goods')"> 상품 이미지 등록 </button></h6>
							<h6><a href="register"><button class="btn btn-primary float-right"> 상품등록 </button></a></h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="text-primary text-center">
										<th>
											<div class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input" id="selectAll">
												<label class="custom-control-label" for="selectAll">all</label>
											</div>
										</th>
                                        <th>이미지</th>
										<th>상품번호</th>
                                        <th>카테고리</th>
                                        <th>상품명</th>
                                        <th>대표색상</th>
                                        <th>시즌</th>
                                    </thead>
                                    <tbody>
                                    {{#goodsList}}
                                        <tr class="text-center goods-row" data-goods-no="{{goodsNo}}">
											<td width="5%">
												<div class="custom-control custom-checkbox">
													<input type="checkbox" class="custom-control-input" id="{{goodsNo}}">
													<label class="custom-control-label" for="{{goodsNo}}">노출</label>
												</div>
											</td>
                                            <td width="15%"><img width="70px" src="http://img.worksout.co.kr{{mainImg}}" onerror="this.src='/img/no-image.png'"></td>
                                            <td>{{goodsNo}}</td>
											<td width="10%">{{categoryNm}}</td>
                                            <td width="20%">{{goodsNm}}</td>
                                            <td width="15%">{{repColor}}</td>
                                            <td width="15%">{{season}}</td>
                                        </tr>
                                    {{/goodsList}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{> admin/include/footer}}
        <!--  Notifications Plugin    -->
        <script src="/vendor/bootstrap/js/bootstrap-notify.js"></script>
        <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
        <script src="/js/paper-dashboard.min.js" type="text/javascript"></script>
        <script src="/vendor/datatables/jquery.dataTables.js" ></script>
        <script src="/vendor/datatables/dataTables.bootstrap4.js" ></script>
		<script src="/js/common/filePopup.js" type="text/javascript"></script>
		<script type="text/javascript">
			$(function () {
				$('.table').DataTable({
					'columnDefs': [{
						'targets': [0, 1],
						'orderable': false
					}]
				});

				$($('th')[0]).removeClass('sorting_asc');

				$('#selectAll').click(function (e) {
					if ( $(this).is(':checked') ) {
						$('input[type="checkbox"]').prop('checked', true);
					} else {
						$('input[type="checkbox"]').prop('checked', false);
					}
				});

				$('.goods-row td:not(:first-child)').click(function (e) {
					var goodsNo = $(this).parent().data('goods-no');
					window.location = `/admin/goods/${goodsNo}`
				});
			});
		</script>
    </body>
</html>